#career {
  .banner {
    width: 100vw;
    height: 25vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-banner {
    text-align: center;
    margin: 0;
    padding: 0;
    .title-container {
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: 110%;
      color: #fefefe;
    }
    .title-description {
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      color: #a9a9a9;
    }
  }
  .form-join {
    padding: 0 80px;
    margin-top: 50px;
    margin-bottom: 128px;
    .fj-wrapper {
      background: #fefefe;
      border: 1px solid #e03a55;
      border-radius: 20px;
      display: flex;
      align-items: center;
      height: 580px;
    }
    .left,
    .right {
      width: 100%;
    }

    .left {
      .form {
        padding: 48px 60px;
        .form-title {
          font-family: "pmr";
          font-style: normal;
          font-weight: 800;
          font-size: 36px;
          color: #282828;
          margin-bottom: 16px;
        }
        .form-subtitle {
          font-family: "pmr";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          color: #282828;
          margin-bottom: 32px;
        }
        .form-fields {
          display: flex;
          .field-wrapper {
            width: 100%;
            margin-right: 32px;
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 32px;
              margin-right: 0;
            }
            .input-label {
              font-family: "pmr";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              letter-spacing: 0.2px;
              color: #282828;
              margin-bottom: 8px;
            }
            .input-wrapper {
              padding: 20px;
              background: #eaeaea;
              border: 1px solid #a9a9a9;
              border-radius: 5px;
              input {
                width: 100%;
                background: inherit;
                border: none;
                &::placeholder {
                  font-family: "pmr";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  letter-spacing: 0.2px;
                  color: #282828;
                }
              }
            }
          }
        }

        .join-com-soon {
          padding: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #a9a9a9;
          border: 1px solid #fefefe;
          border-radius: 5px;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: none;
            background: inherit;
            .plane-icn {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
            span {
              font-family: "pmr";
              font-style: normal;
              font-weight: 800;
              font-size: 16px;
              display: flex;
              align-items: center;
              text-align: center;
              letter-spacing: 0.2px;
              color: #fefefe;
            }
          }
        }
      }
    }
    .right {
      height: 100%;
      .join-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #eaeaea;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  #career {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-banner {
      .title-container {
        font-size: 28px;
        line-height: 120%;
      }
      .title-description {
        font-size: 14px;
        line-height: 120%;
      }
    }
    .form-join {
      width: 100vw;
      position: relative;
      padding: 0;
      .form-join-rsponsive {
        width: 100vw;
        object-fit: cover;
      }

      .join-outer {
        width: 100vw;
        height: 375px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .join-inner {
          background: #ffffff;
          border: 1px solid #eaeaea;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          width: 90%;
          max-width: calc(300px - 24px - 24px);
          padding: 24px;
          .jim-1 {
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            color: #282828;
            margin-bottom: 11px;
          }
          .jim-2 {
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #282828;
            margin-bottom: 24px;
          }
          .fj-btn-wrapper {
            padding: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #a9a9a9;
            border: 1px solid #fefefe;
            border-radius: 5px;
            button {
              width: 100%;
              display: flex;
              align-items: center;
              border: none;
              background: inherit;
              justify-content: center;
              .plane-icn {
                width: 24px;
                height: 24px;
                margin-right: 8px;
              }
              span {
                font-family: "Proxima Nova";
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.2px;
                color: #fefefe;
              }
            }
          }
        }
      }
    }
  }
}